.container .menu-money {
  margin-top: 5px;
  text-align: center;
}

.container .menu-money .select-wrapper .select-dropdown {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.brand-logo .large {
  font-size: 50px;
}

.card {
  width: 700px;
  margin: 20px auto;
  text-align: center;
}
