.container .menu-money {
  margin-top: 5px;
  text-align: center;
}

.container .menu-money .select-wrapper .select-dropdown {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.brand-logo .large {
  font-size: 50px;
}

/* .card {
  width: 700px;
  height: 400px;
  margin: 20px auto;
  text-align: center;
} */

.card .card-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.card .card-content .collapsible-header {
  justify-content: center;
}

.card-action {
  display: flex;
  justify-content: space-between;
}

.datepicker {
  text-align: center;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .card {
    width: 700px;
  }
  .hide-on-med-and-down {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .card {
    width: 600px;
  }
  /* .brand-logo {
    margin-left: 150px;
  } */
}

@media (max-width: 576px) {
  .card {
    width: 500px;
  }
}

@media (max-width: 416px) {
  .card {
    width: 350px;
  }
}

@media (max-width: 376px) {
  .card {
    width: 300px;
  }
  .card .card-action {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
}

@media (max-width: 322px) {
  .card {
    width: 250px;
  }
  .brand-logo {
    margin-right: 0;
  }
  .brand-logo .material-icons {
    font-size: 30px;
    margin-right: 25px;
  }
}

.modal {
  text-align: center;
}

.modal .modal-footer {
  text-align: center;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
